<div id="courses" fxLayout="column">
    <div id="course" class="flex-container" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
        <div *ngFor="let course of courses; let i = index" class="course">
            <mat-card class="example-card ">
                <mat-card-header>
                    <div>{{course.courseId}} </div>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{course.courseName}}</mat-card-title>
                    <mat-card-subtitle>{{course.courseFirstDescription}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                     alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>{{course.courseSecondDescription}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-stroked-button color="accent" (click)="onEdit(course.courseId)">EDIT</button>
                    <button mat-stroked-button color="accent" (click)="openDialog()">DELETE</button>

                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="mat-fab-button">
        <button mat-fab color="primary" (click)="createCourse()"> +</button>
    </div>
</div>
