mat-form-field {
    width: 100%;
}

.create-course-container {
    width: 100%;
    padding: 60px;
    margin: 10px;

    .text {
        text-align: center;
        color: red;
        font-size: 60px;
        font-weight: bold;
    }

    .button {
        width: 300px;
    }

    .image-preview {
        margin-top: 20px;
    }
}